.chat{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 70%;
    height: 90vh;
    background: rgb(236, 236, 236);
    padding: 20px;
    border-radius: 20px;
    .chat_window{
        overflow: scroll;
        margin-bottom: 10px;
    }
    textarea{
        resize: none;
    }
}

.message{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    background: rgb(97, 164, 197);
}