.dialogsWindow{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    background: #98AFBA;
    height: 100%;
    border-radius: 20px;
    button{
        color: black;
        background: #2F7E9B;
        border: none;
        height: 30px;
        padding: 0 20px;
        &:hover{
            cursor: pointer;
            background: #225c71;
        }
    }
    .dialogsWindowHeader{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
        width: 100%;
        margin: 10px 0;
        button{
            border-radius: 10px;
            height: 30px;
            margin-left: 10px;
        }
    }
    .search{
        display: flex;
        flex-direction: column;
        .searchHeader{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            width: 100%;
            margin-bottom: 10px;
            input{
                width: 100%;
                height: 30px;
                border: none;
                border-radius: 10px 0 0 10px;
                padding: 0 10px;
                &:focus{
                    outline: none;
                }
            }
            button{
                border-radius: 0 10px 10px 0;
            }
        }
    }
    .generalChatButton{
        height: 50px;
        border: none;
        background: #3F8B7E;
    &:hover{
        background: #2F7E9B;
        cursor: pointer;
    }
    }
}