.userCard{
    display: flex;
    padding: 10px;
    border-radius: 8px;
    a{
        color: rgb(176, 174, 27)
    }
    &:hover{
        background: #363636;
        cursor: pointer;
    }
    .profilePhoto{
        margin-right: 7px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .nameAndLastMessage{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .lastMessage{
        display: flex;
        .textAndTime{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .text{
                max-width: 240px;
                overflow: hidden;
            }
        }
    }
}

.userCard_active{
    background: #0F0F0F;
    &:hover{
        background: #0F0F0F;
    }
}