.userCard{
    display: flex;
    padding: 10px;
    background: #009CAB;
    a{
        color: rgb(176, 174, 27)
    }
    &:hover{
        background: #2F7E9B;
        cursor: pointer;
    }
    .profilePhoto{
        margin-right: 5px;
        img{
            width: 40px;
            height: 40px;
        }
    }
    .nameAndLastMessage{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .lastMessage{
        display: flex;
        .textAndTime{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}