.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #3f8b7e;
    padding: 30px 25px;
    border: 2px solid #009cab;
    border-radius: 20px;
    min-width: 250px;
    p {
        font-size: 24px;
        font-weight: 700;
    }
    input {
        width: 100%;
        background: #f7f7f7;
        border: 1px solid #828282;
        border-radius: 20px;
        margin-bottom: 13px;
        padding: 8px 15px;

        font-weight: 700;
        font-size: 12px;
        color: #a8a6a6;
    }
    button {
        background: #354a53;
        color: white;
        border-radius: 20px;
        border: none;
        font-size: 12px;
        font-weight: 700;
        padding: 0.8em 35px;
        &:hover {
            cursor: pointer;
            background: #2f7e9b;
        }
    }
    .signInWithGoogleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #354a53;
        color: white;
        padding: 0.8em;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
            background: #2f7e9b;
        }
    }
}
