.homePage{
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: #ffffff;
    height: 90vh;
    width: 100vw;
    .sideBar{
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        button{
            background: rgb(183, 183, 183);
            height: 30px;
            width: 70px;
            border: none;
            border-radius: 10px;
            padding: 5px;
        }
    }
    .empty_message{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        border-radius: 20px;
        background: #C6F8FF;
        img{
            width: 50px;
        }
        p{
            text-align: center;
            margin: 8px 0;
            font-size: 13px;
            a{
                color: rgb(70, 70, 188);
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .homePage{
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
}