.homePage{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background: #ffffff;
    height: 100vh;
    width: 100vw;
    .sideBar{
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        button{
            background: rgb(183, 183, 183);
            height: 30px;
            width: 70px;
            border: none;
            border-radius: 10px;
            padding: 5px;
        }
    }
}

@media (max-width: 768px) {
    .homePage{
        height: 80vh;
        display: flex;
        flex-direction: column;
    }
}