.homePage {
    display: grid;
    grid-template-columns: 2fr 5fr;
    background: #0f0f0f;
    height: 100vh;
    width: 100vw;
    padding: 0 10px 0 0;
    .sideBar {
        padding-top: 20px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        button {
            background: rgb(183, 183, 183);
            height: 30px;
            width: 70px;
            border: none;
            border-radius: 10px;
            padding: 5px;
        }
    }
    .empty_message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        border-radius: 20px;
        background: #212121;
        margin: 5px 0 5px 5px;
        img {
            width: 60px;
        }
        p {
            text-align: center;
            margin: 8px 0;
            font-size: 16px;
            font-weight: 500;
            color: white;
            a {
                color: rgb(70, 70, 188);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .homePage {
        height: 80vh;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .empty_message {
        display: none !important;
    }
}
