.registerPage {
    height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .registerPage {
        height: 80vh;
    }
}
