.userCard{
    display: flex;
    padding: 10px;
    background: #b2bebf4e;
    &:hover{
        background: #486966;
        cursor: pointer;
        border-radius: 10px;
    }
    .profilePhoto{
        margin-right: 5px;
    }
}