.userCard{
    display: flex;
    padding: 10px;
    &:hover{
        background: #363636;
        cursor: pointer;
        border-radius: 10px;
    }
    .profilePhoto{
        margin-right: 5px;
    }
}